extends ../layout

block content
  h1= title

  if error
    p(style='color: red;')= error

  form(action='/forgot-password' method='POST')
    div(style='margin-bottom: 10px;')
      label(for='email') Email
      br
      input#email(type='email' name='email' required)

    button(type='submit') Enviar enlace de recuperación

  p(style='margin-top: 15px;')
    a(href='/login') Volver al login