extends ../layout

block content
  h1= title

  if error
    p(style='color: red;')= error

  form(action=`/reset-password/${token}` method='POST')
    div(style='margin-bottom: 10px;')
      label(for='password') Nueva contraseña
      br
      input#password(type='password' name='password' required)

    button(type='submit') Restablecer contraseña