extends ../layout

block content
  h1= title

  if error
    p(style='color: red;')= error

  form(action='/users/register' method='POST')
    div(style='margin-bottom: 10px;')
      label(for='email') Email
      br
      input#email(type='email' name='email' required value=(email || ''))

    div(style='margin-bottom: 10px;')
      label(for='password') Contraseña
      br
      input#password(type='password' name='password' required)

    button(type='submit') Registrarse